<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Register</title>

  <link href="../static/css/register.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>FindMy<span>Stuff</span></div>
		</div>
		<br>
		<form class="login" method="post" action="/validateProduct">
			<input type="text" placeholder="Nome" name="name" value="{{request.form.name}}">
			<br><br>
			<input type="number" placeholder="Preco" name="price" max="99999" value="{{request.form.price}}">
			<br>
			<input type="text" placeholder="Marca" name="brand" value="{{request.form.brand}}">
			<br>
			<input type="submit" value="Register">
		</form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  
</body>
</html>
