<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Produto</title>

   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/home.css" rel="stylesheet">
    <link href="../static/css/product.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	

    <style>
    	.btn-file {
            position: relative;
            overflow: hidden;
    	}
    	.btn-file input[type=file] {
    	    position: absolute;
    	    top: 0;
    	    right: 0;
    	    min-width: 100%;
    	    min-height: 100%;
    	    font-size: 100px;
    	    text-align: right;
    	    filter: alpha(opacity=0);
    	    opacity: 0;
    	    outline: none;
    	    background: white;
    	    cursor: inherit;
    	    display: block;
    	}
    </style>
   
  	</head>

  	<body onload="getLocation(); getDate();">
  		<div id="navbar-wrapper">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/userHome"><span>FindMy</span><span style="color: #0033cc;">Product</span></a>
                        </div>
                        <div id="navbar-collapse" class="collapse navbar-collapse">
                            <form class="navbar-form navbar-left" role="search" method="post" action="/userHome/search">
                                <div class="input-group" style="padding-left: 70px; width: 200%;">
                                    <input type="text" class="form-control" placeholder="Busque um produto" name="search">
                                    <input value ="21" name="latitude"  id="latitude" type="hidden">
                                    <input value ="21" name="longitude" id="longitude" type="hidden">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../static/user_img.png" class="img-responsive img-thumbnail img-circle">{{username}}</a>
                                    <ul class="dropdown-menu dropdown-block" role="menu">
                                        <li><a href="/userInfo">Minha Conta</a></li>
                                        <li><a href="/userLogout">Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
    	</div>

	    <div class="container" style="padding-top: 80px">
	      	<div class="well">
    	      	<div class="row">
    	          	<div class="col-xs-6 item-photo">
    	                <img style="width:100%;" src="..\{{product[0][4]}}" />
    	            </div>

    	            <div class="col-xs-6" style="border:0px solid gray">
    	                <!-- Datos del vendedor y titulo del producto -->
    	                <h3>{{product[0][3]}}</h3>    
    	                <h5 style="color:#337ab7">vendido por <a href="#">{{product[0][11]}}</a> · <small style="color:#337ab7">({{product[0][6]}} em estoque)</small></h5>
    	    			
    	    			<!-- Precios -->
    	                <h6 class="title-price"><small>MARCA</small></h6>
    	                <h3 style="margin-top:0px;">{{product[0][2]}}</h3>

    	                <!-- Precios -->
    	                <h6 class="title-price"><small>PREÇO</small></h6>
    	                <h3 style="margin-top:0px;">R$ {{product[0][1]}}</h3>

                        <!-- Precios -->
                        <h6 class="title-price"><small>DISTÂNCIA</small></h6>
                        <h3 style="margin-top:0px;">{{distance}} Km</h3>
    	    
    	                <!-- Detalles especificos del producto -->
                        <form method="post" action="/validateBuy">
        	                <div class="section" style="padding-bottom:20px;">
        	                    <h6 class="title-attr"><small>QUANTIDADE</small></h6>
        	                    <div>
        	                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
        	                        <input value="1" max='{{product[0][6]}}' name="quantity" id="quantity" type='number'/>
                                    <input type="hidden" value="15" name="date" id="date" />
                                    <input type="hidden" value="{{product[0][0]}}" name="product_id" id="product_id" />
        	                        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
        	                    </div>
        	                </div>                
        	    
        	                <!-- Botones de compra -->
        	                <div class="section" style="padding-bottom:20px;">
        	                    <button class="btn btn-success" type="submit"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Comprar</button>
        	                </div>
                        </form>                                        
    	            </div>
    	        </div>

                <br>

    	        <div class="form-group">
    	  			<label for="">Descrição</label>  
    	  			<div>{{product[0][5]}}</div>		
    			</div>

    			<div class="form-group">
    	  			<label for="">Localização</label>  
    	  			<div>{{product[0][9]}}</div>		
    			</div>

                <label for="">Mapa</label>

    			<div id="googleMap" style="width:100%;height:400px;"></div>
    			
    	    </div>

            <footer class="footer">
                <p>&copy; Astur e Toyama 2017</p>
            </footer>

        </div>

        <script>
            function myMap() {

                var myLatLng = {lat: {{product[0][14]}}, lng: {{product[0][15]}}};

                var mapProp = {
                    center: new google.maps.LatLng({{product[0][14]}},{{product[0][15]}}),
                    zoom:14,
                };

                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp, marker);

                var marker = new google.maps.Marker(
                {
                    position: new google.maps.LatLng({{product[0][14]}},{{product[0][15]}}),

                    map: map,
                    title: 'Hello World!'
                });

                var latLng = marker.getPosition();
                map.setCenter(latLng); 
            }   
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsHltt99bw8drFOi4wUqdYJ3LQO4tWZh8&callback=myMap"></script>

        <script src="../static/js/jquery-1.11.2.js"></script>

        <script src="../static/js/jquery.ui.widget.js"></script>
    
        <script src="../static/js/bootstrap.min.js"></script>

        <script> 
            $(document).ready(function(){

                $(".btn-minus").on("click",function(){
                    var now = document.getElementById("quantity").value;
                    if ($.isNumeric(now)){
                        if (parseInt(now) -1 > 0){ now--;}
                        document.getElementById("quantity").value = now;
                    }else{
                        document.getElementById("quantity").value = 1;
                    }
                })            
                
                $(".btn-plus").on("click",function(){
                    var now = document.getElementById("quantity").value;
                    if ($.isNumeric(now)){
                        document.getElementById("quantity").value = parseInt(now)+1;
                    }else{
                        document.getElementById("quantity").value = now;
                    }
                })                        
            }) 
        </script>

        <script>
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.watchPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                document.getElementById("latitude").value = position.coords.latitude;
                document.getElementById("longitude").value = position.coords.longitude;
            }
        </script>

        <script>
            function getDate() {
                n =  new Date();
                y = n.getFullYear();
                m = n.getMonth() + 1;
                d = n.getDate();
                document.getElementById("date").value = y + "-" + m + "-" + d;  
            }   
        </script>

    </body>

</html>
