<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Início</title>

        
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/home.css" rel="stylesheet">
        <link href="../static/css/album.css" rel="stylesheet">

    </head>
    
    <body onload="getLocation();">
        <div id="navbar-wrapper">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/userHome"><span>FindMy</span><span style="color: #0033cc;">Product</span></a>
                        </div>

                        <div id="navbar-collapse" class="collapse navbar-collapse">
                            <form class="navbar-form navbar-left" role="search" method="post" action="/userHome/search">
                                <div class="input-group" style="padding-left: 70px; width: 200%;">
                                    <input type="text" class="form-control" placeholder="Busque um produto" name="search">
                                    <input value ="21" name="latitude"  id="latitude" type="hidden">
                                    <input value ="21" name="longitude" id="longitude" type="hidden">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </form>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../static/user_img.png" class="img-responsive img-thumbnail img-circle">{{username}}</a>
                                    <ul class="dropdown-menu dropdown-block" role="menu">
                                        <li><a href="/userInfo">Minha Conta</a></li>
                                        <li><a href="/userLogout">Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>

        
        <div class="container" style="padding-top: 80px">
      <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Compra concluída!</h1>
                <p>Parabéns pela compra. Ela será preparada pela loja para você pegar quando tiver tempo ;)</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="/userHome" role="button">Voltar á pagina inicial »</a>
                </p>
            </div>
        </div> <!-- /container -->


        <script>
            var x = document.getElementById("demo");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.watchPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                document.getElementById("latitude").value = position.coords.latitude;
                document.getElementById("longitude").value = position.coords.longitude;

            }
        </script>

        <script src="../static/js/jquery-1.11.2.js"></script>
        <script src="../static/js/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../static/js/bootstrap.min.js"></script>
    
    </body>
</html>