<!DOCTYPE html>
<html lang="en">
  	<head>
	    <title>Entrar - Loja</title>

	   
	    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	    <link href="../static/css/signup.css" rel="stylesheet">

    
   
  	</head>

  	<body>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
					<span aria-hidden="true">×</span>
				</button>
				{{message}}
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

    <div class="container">
    	<div class="jumbotron">
	        <h1 style="text-align: center"><span>FindMy</span><span style="color: #0033cc;">Product</span> Loja</h1>
	        <form class="form-signin" action="/validateStoreLogin" method="post">
	          	<input type="email" name="email" id="email" class="form-control" placeholder="Endereço de Email" required autofocus>
	          	<input type="password" name="password" id="password" class="form-control" placeholder="Senha" required>
	          
	          	<button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	      	</form>

		    <form class="form-signin" action="/storeRegister">
		    	<p>Loja não cadastrada?</p><button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar-se</button>
			</form>

			<form class="form-signin" action="/">
		    	<p>É um comprador?</p><button type="submit" class="btn btn-lg btn-primary btn-block">Acesse Aqui</button>
			</form>

		    
		</div>
		<footer class="footer">
		    	<p>&copy; Astur e Toyama 2017</p>
		</footer>
		
	</div>

	<script src="../static/js/jquery-1.11.2.js"></script>

  	</body>
</html>
