
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minha Conta</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/home.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <script src="../static/js/jquery-1.11.2.js"></script>

	<script src="../static/js/jquery.ui.widget.js"></script>
	
    <script src="../static/js/bootstrap.min.js"></script>
	

    <style>
	.btn-file {
    position: relative;
    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}
    </style>
   
  	</head>

  	<body>
  		<div id="navbar-wrapper">
	        <header>
	            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	                <div class="container-fluid">
	                    <div class="navbar-header">
	                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	                            <span class="sr-only">Toggle navigation</span>
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                            <span class="icon-bar"></span>
	                        </button>
	                        <a class="navbar-brand" href="/userHome"><span>FindMy</span><span style="color: #0033cc;">Product</span></a>
	                    </div>
	                    <div id="navbar-collapse" class="collapse navbar-collapse">
	                        <form class="navbar-form navbar-left" role="search" method="post" action="/userHome/search">
	                            <div class="input-group" style="padding-left: 70px; width: 200%;">
	                                <input type="text" class="form-control" placeholder="Busque um produto" name="search">
	                                <span class="input-group-btn">
	                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	                                </span>
	                            </div>
	                        </form>
	                        <ul class="nav navbar-nav navbar-right">
	                            <li class="dropdown">
	                                <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../static/user_img.png" class="img-responsive img-thumbnail img-circle">{{username}}</a>
	                                <ul class="dropdown-menu dropdown-block" role="menu">
	                                    <li><a href="/userInfo">Minha Conta</a></li>
	                                    <li><a href="/userLogout">Sair</a></li>
	                                </ul>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </nav>
	        </header>
  		</div>

	    <div class="container" style="padding-top: 50px">
	      	<div class="header">
	        	<h2>Minha Conta</h2>
	      	</div>
	     

			<div class="well">

					<!-- Text input-->
					<div class="form-group">
		  				<label  for="email">Email</label>  
		  				<div>{{email}}</div>		
					</div>

					<!-- Text input-->
					<div class="form-group">
		  				<label  for="name">Nome</label>  
		  
		  				<div>{{username}}</div>		
					</div>

					<div class="form-group">
		  				<label  for="lastname">Sobrenome</label>  
		  				<div>{{lastname}}</div>
		  						
					</div>

					<div class="form-group">
						<label  for="gender">Gênero</label> 
		  				<div>{{gender}}</div>	
					</div>

					<div class="form-group">
		  				<label  for="birth_date">Data de nascimento</label>  
		  				<div>{{birth_date}}</div>	
					</div>

					<!-- Button -->
					<div class="form-group">
					  
					    <form class="text-left" action="/userEdit" method="post">
					    	<input id="singlebutton" name="singlebutton" class="btn btn-lg btn-primary" type="submit" value="Editar Informações">
					    </form>
					    <br>
					    <form action="/userInfoPassword" method="post">
					    	<input id="singlebutton" name="singlebutton" class="btn btn-lg btn-primary" type="submit" value="   Trocar Senha   ">
					  	</form>
					  	
					</div>
			</div>


	      

			<footer class="footer">
				<p>&copy; Company 2015</p>
			</footer>

	    </div>
  </body>
</html>
